@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --platinum: #f1f1f1ff;
  --slate-grey: #6d7188ff;
  --pacific-cyan: #4b97aaff;
  --charcoal-blue: #2e4756ff;
  --jet-black: #16262eff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}